<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDz53k1sWDSWVOLmz2RfelOXh0UHNRtoVY</string>
	<key>GCM_SENDER_ID</key>
	<string>719955582782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ambrd.ambrddriverapp</string>
	<key>PROJECT_ID</key>
	<string>ambrddriverapp</string>
	<key>STORAGE_BUCKET</key>
	<string>ambrddriverapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:719955582782:ios:710c69a79aa209ed5cd66f</string>
</dict>
</plist>